/assets/
miniRT
.vscode/c_cpp_properties.json
src/scrap.c
obj/*.o
assets/Cross_product_mnemonic.svg
assets/Physically Based Rendering From Theory to Implementation by Matt Pharr Greg Humphreys Wenzel Jakob.pdf
assets/RayTracingInOneWeekend-v4.0.0.pdf
assets/RayTracingTheNextWeek-v4.0.0.pdf
assets/RayTracingTheRestOfYourLife-v4.0.0.pdf
lib/libft/libft.a
lib/libft/*.o
lib/libft/ft_printf/*.o
lib/libft/get_next_line/*.o
.cache/clangd/index/base16_utils.c.A59155E20710505A.idx
.cache/clangd/index/base16_utils2.c.03C5AA0D109511AB.idx
.cache/clangd/index/camera.c.B96DBEDD49FA6E33.idx
.cache/clangd/index/camera.h.580599BB0F52560B.idx
.cache/clangd/index/color.c.27B48597CE1215D3.idx
.cache/clangd/index/color.h.DC274715D3AA1674.idx
.cache/clangd/index/debug.h.F8D3300A696C7595.idx
.cache/clangd/index/err.c.D7B269B37405BE8B.idx
.cache/clangd/index/ft_atoi.c.57F0550B0E0B7BBF.idx
.cache/clangd/index/ft_atol.c.26BD7F8A3173E057.idx
.cache/clangd/index/ft_bzero.c.DCA160E6F4A45561.idx
.cache/clangd/index/ft_calloc.c.0DB40F22A7CA636E.idx
.cache/clangd/index/ft_isalnum.c.204D9447C2484D84.idx
.cache/clangd/index/ft_isalpha.c.3AEF25F1879757C7.idx
.cache/clangd/index/ft_isascii.c.F401BB8F9D87C52A.idx
.cache/clangd/index/ft_isdigit.c.DB52250BECE71B73.idx
.cache/clangd/index/ft_isprint.c.5739EC1C00765285.idx
.cache/clangd/index/ft_itoa.c.3A35C5B063F48E75.idx
.cache/clangd/index/ft_itox.c.3F347235D8A35978.idx
.cache/clangd/index/ft_itoxp.c.A0F603C36777C7BD.idx
.cache/clangd/index/ft_itoxx.c.8CF749CD86E7EABB.idx
.cache/clangd/index/ft_lstadd_back.c.993EFD97E715FD3D.idx
.cache/clangd/index/ft_lstadd_front.c.BEB2F3BD5209B93F.idx
.cache/clangd/index/ft_lstclear.c.72D35D96524CEA48.idx
.cache/clangd/index/ft_lstdelone.c.F310DF152CA6B4CA.idx
.cache/clangd/index/ft_lstiter.c.80E4F56A1E4C2CB0.idx
.cache/clangd/index/ft_lstlast.c.998515D0AC066526.idx
.cache/clangd/index/ft_lstmap.c.13973BEE512E50AD.idx
.cache/clangd/index/ft_lstnew.c.9133063297A3DEF4.idx
.cache/clangd/index/ft_lstsize.c.B12E855420CB739A.idx
.cache/clangd/index/ft_memchr.c.48CAF035D382BB6A.idx
.cache/clangd/index/ft_memcmp.c.977AB9DA10C92354.idx
.cache/clangd/index/ft_memcpy.c.F980C74BF6E25E75.idx
.cache/clangd/index/ft_memmove.c.BA977F112AFA55A8.idx
.cache/clangd/index/ft_memset.c.BC993C57FAAE7D40.idx
.cache/clangd/index/ft_printf.c.4080754A1A8D8A8D.idx
.cache/clangd/index/ft_printf.h.EEA872015D31AA35.idx
.cache/clangd/index/ft_putchar_fd.c.3798D7AAC8C2A656.idx
.cache/clangd/index/ft_putendl_fd.c.1E6851A0FE9272CE.idx
.cache/clangd/index/ft_putnbr_fd.c.92ABEE5AD78AA66A.idx
.cache/clangd/index/ft_putstr_fd.c.A289A32ABA238829.idx
.cache/clangd/index/ft_split.c.F6E49B886D2CE939.idx
.cache/clangd/index/ft_strchr.c.652DA577C5DA406D.idx
.cache/clangd/index/ft_strdup.c.9AA964B1C341744D.idx
.cache/clangd/index/ft_striteri.c.A3C019A696C7FFC5.idx
.cache/clangd/index/ft_strjoin.c.E5F9F43D4D0FDF68.idx
.cache/clangd/index/ft_strlcat.c.67786D63134B7529.idx
.cache/clangd/index/ft_strlcpy.c.84EF6ADEA6C2F2F2.idx
.cache/clangd/index/ft_strlen.c.327053BC5C795B4F.idx
.cache/clangd/index/ft_strmapi.c.05E39C328BAACEE1.idx
.cache/clangd/index/ft_strncmp.c.36B4C3E59725A0D2.idx
.cache/clangd/index/ft_strnstr.c.6F96544549CA2B1D.idx
.cache/clangd/index/ft_strrchr.c.0CB305A43D75E69D.idx
.cache/clangd/index/ft_strtrim.c.7704B7E500797C69.idx
.cache/clangd/index/ft_substr.c.57FE60218F82E7DF.idx
.cache/clangd/index/ft_tolower.c.99B79EA85252917C.idx
.cache/clangd/index/ft_toupper.c.D109AF15A4B3EF9A.idx
.cache/clangd/index/get_next_line_utils.c.30C6F64D89756527.idx
.cache/clangd/index/get_next_line.c.2EE56BED54108384.idx
.cache/clangd/index/get_next_line.h.13E95EF595BF257A.idx
.cache/clangd/index/hittable_list.h.3EA07F06D942D798.idx
.cache/clangd/index/hittable.c.5210D5479D65297F.idx
.cache/clangd/index/hittable.h.D114240B21705EDC.idx
.cache/clangd/index/interval.c.96EC3EC0ED75D4DA.idx
.cache/clangd/index/interval.h.90513FB72D387B28.idx
.cache/clangd/index/libft.h.61CCD8FCD2A44E08.idx
.cache/clangd/index/main.c.DD71CBE41FBA0591.idx
.cache/clangd/index/minirt.h.058A8B71BDD95612.idx
.cache/clangd/index/MLX42.h.FCD30C0AE918B904.idx
.cache/clangd/index/pr_.c.C887D41B97D71F40.idx
.cache/clangd/index/pr_c.c.E903F2EF45AB92F6.idx
.cache/clangd/index/pr_i.c.97FCA6F03F45028D.idx
.cache/clangd/index/pr_p.c.382E74D4DA4E3C1E.idx
.cache/clangd/index/pr_s.c.6C699A9B6483E35B.idx
.cache/clangd/index/pr_u.c.CCD662C60BBD5005.idx
.cache/clangd/index/pr_x.c.5E3046411AEAD1C4.idx
.cache/clangd/index/pr_xx.c.85FEFE6392091C7D.idx
.cache/clangd/index/ray.c.2144C6F2109DC057.idx
.cache/clangd/index/ray.h.52D3BD20584913CE.idx
.cache/clangd/index/sphere.c.6AD41D487479B3A0.idx
.cache/clangd/index/sphere.h.E6E7E21B86462DE5.idx
.cache/clangd/index/utils.c.57AB67942815DB31.idx
.cache/clangd/index/utils.c.656E394D5EB9A4FA.idx
.cache/clangd/index/utils.h.2D0CAD6DC4BEEB03.idx
.cache/clangd/index/utilsflags.c.794CEF90295D36B1.idx
.cache/clangd/index/utilsflags2.c.5E211B574C4E4A7C.idx
.cache/clangd/index/vec3.c.7239D393BA228853.idx
.cache/clangd/index/vec3.h.461F1EB2F0B08BAE.idx

.cache/clangd/index/ambient.h.65CC982E4456EF28.idx
.cache/clangd/index/box.h.BDCD538E07AF2594.idx
.cache/clangd/index/cone.h.F236C00BFF2B4FDB.idx
.cache/clangd/index/cylinder.h.9A09FE5DA23C7A54.idx
.cache/clangd/index/disk.h.F2F08410146437D1.idx
.cache/clangd/index/hook_utils.h.A0D5D9D0075C4B95.idx
.cache/clangd/index/material.h.87C7989E26E1D78D.idx
.cache/clangd/index/mersenne_twister.h.189D33B5AAC44788.idx
.cache/clangd/index/onb.h.6557C0D0152D03C7.idx
.cache/clangd/index/pdf.h.F91B138660D76AFB.idx
.cache/clangd/index/plane.h.574BFAE1A736DFBA.idx
.cache/clangd/index/quad.h.6E534B31DE0AD516.idx
.cache/clangd/index/rtw_stb_image.h.C893F717F81432BF.idx
.cache/clangd/index/texture.h.4BA0611807C48E45.idx
.cache/clangd/index/triangle.h.EC30707965EA346D.idx
.cache/clangd/index/ambient.c.73CCAC905BFB4E5C.idx
.cache/clangd/index/box.c.381CBDF9DFBB180B.idx
.cache/clangd/index/cylinder.c.6304285DF0661DCA.idx
.cache/clangd/index/disk.c.E2C9FC48A6DB54C0.idx
.cache/clangd/index/hittable_list.c.1CFEA0B4F60D4740.idx
.cache/clangd/index/hooks_utils.c.EAE1C099335F7AF7.idx
.cache/clangd/index/material.c.0BE1525CCC8CC812.idx
.cache/clangd/index/mersenne_twister.c.00D5CB0E61690896.idx
.cache/clangd/index/onb.c.9B775E7B697D921E.idx
.cache/clangd/index/parse.c.50DCACD9B24F1DC8.idx
.cache/clangd/index/pdf.c.2D879369224A0A68.idx
.cache/clangd/index/plane.c.F3D16F55D4D94E37.idx
.cache/clangd/index/quad.c.140412FD8DCFFB8A.idx
.cache/clangd/index/rotated.c.D2D93867C9210AF5.idx
.cache/clangd/index/rotated.h.714D739ADCBC5C4D.idx
.cache/clangd/index/rtw_stb_image.c.6D4CA1E764884528.idx
.cache/clangd/index/stb_image_write.h.5FB60ACA0EC138D1.idx
.cache/clangd/index/stb_image.h.4BAA8B22FA2E3340.idx
.cache/clangd/index/texture.c.6CECAC1050437EAC.idx
.cache/clangd/index/translated.c.75DA9B24D4384603.idx
.cache/clangd/index/translated.h.A942480CDF843F60.idx
.cache/clangd/index/triangle.c.0EDFB6737A994931.idx
lib/MLX42
