/assets/
assets/Cross_product_mnemonic.svg
assets/Physically Based Rendering From Theory to Implementation by Matt Pharr Greg Humphreys Wenzel Jakob.pdf
assets/RayTracingInOneWeekend-v4.0.0.pdf
assets/RayTracingTheNextWeek-v4.0.0.pdf
assets/RayTracingTheRestOfYourLife-v4.0.0.pdf
lib/libft/libft.a
lib/libft/ft_atoi.o
lib/libft/ft_atol.o
lib/libft/ft_bzero.o
lib/libft/ft_calloc.o
lib/libft/ft_isalnum.o
lib/libft/ft_isalpha.o
lib/libft/ft_isascii.o
lib/libft/ft_isdigit.o
lib/libft/ft_isprint.o
lib/libft/ft_itoa.o
lib/libft/ft_itox.o
lib/libft/ft_itoxp.o
lib/libft/ft_itoxx.o
lib/libft/ft_lstadd_back.o
lib/libft/ft_lstadd_front.o
lib/libft/ft_lstclear.o
lib/libft/ft_lstdelone.o
lib/libft/ft_lstiter.o
lib/libft/ft_lstlast.o
lib/libft/ft_lstmap.o
lib/libft/ft_lstnew.o
lib/libft/ft_lstsize.o
lib/libft/ft_memchr.o
lib/libft/ft_memcmp.o
lib/libft/ft_memcpy.o
lib/libft/ft_memmove.o
lib/libft/ft_memset.o
lib/libft/ft_putchar_fd.o
lib/libft/ft_putendl_fd.o
lib/libft/ft_putnbr_fd.o
lib/libft/ft_putstr_fd.o
lib/libft/ft_split.o
lib/libft/ft_strchr.o
lib/libft/ft_strdup.o
lib/libft/ft_striteri.o
lib/libft/ft_strjoin.o
lib/libft/ft_strlcat.o
lib/libft/ft_strlcpy.o
lib/libft/ft_strlen.o
lib/libft/ft_strmapi.o
lib/libft/ft_strncmp.o
lib/libft/ft_strnstr.o
lib/libft/ft_strrchr.o
lib/libft/ft_strtrim.o
lib/libft/ft_substr.o
lib/libft/ft_tolower.o
lib/libft/ft_toupper.o
lib/libft/ft_printf/base16_utils.o
lib/libft/ft_printf/base16_utils2.o
lib/libft/ft_printf/err.o
lib/libft/ft_printf/ft_printf.o
lib/libft/ft_printf/pr_.o
lib/libft/ft_printf/pr_c.o
lib/libft/ft_printf/pr_i.o
lib/libft/ft_printf/pr_p.o
lib/libft/ft_printf/pr_s.o
lib/libft/ft_printf/pr_u.o
lib/libft/ft_printf/pr_x.o
lib/libft/ft_printf/pr_xx.o
lib/libft/ft_printf/utils.o
lib/libft/ft_printf/utilsflags.o
lib/libft/ft_printf/utilsflags2.o
lib/libft/get_next_line/get_next_line_utils.o
lib/libft/get_next_line/get_next_line.o
obj/camera.o
obj/color.o
obj/hittable.o
obj/interval.o
obj/main.o
obj/ray.o
obj/sphere.o
obj/utils.o
obj/vec3.o
miniRT
